.Confirm {
  width: fit-content;
  margin: auto;
}

.Confirm h2,
.Confirm p {
  margin: 20px 0;
}

.Confirm h2 {
  text-align: center;
  font-size: 40px;
  color: #4E9AF5;
}

.Confirm p {
  font-size: 30px;
}