.SelectGenre {
  margin: 30px;
}

.SelectGenre ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  height: 300px;
  overflow: auto;
  background-color: #999999;
  list-style: none;
}

.SelectGenre input {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 20px;
}

.SelectGenre li {
  font-size: 25px;
}

li.selected {
  color: #4E9AF5;
  background-color: #404040;
  border-color: #4E9AF5;
  cursor: pointer;
}

button.back-buttons {
  border: none;
  text-decoration: underline;
}