.track {
  padding: 20px;
  border-bottom: 1px solid #151515;
}

.song-title {
  color: #999999;
  font-size: 25px;
}

.song-artist {
  color: #666666;
  font-size: 20px;
}

.playlist-header {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 5px solid #404040;
  padding: 10px;
}

.playlist-header h2, 
.response {
  color: #63B700;
}

.response {
  text-align: center;
}

/*.playlist,
.track {
  display: grid;
  grid-template-columns: 1fr 1fr 50px 110px;
}

.playlist {
  width: 90%;
  margin: auto;
  text-align: center;
}

.track {
  grid-column: 1 / span 4;
  border-bottom: 1px solid #CCC7C4;
  text-align: left;
  align-items: center;
}

.track h4 {
  padding: 20px;
  margin: 0;
}

.track p {
  text-align: center;
}

.track button {
  height: 1.5em;
  background-color: #FDAB02;
  color: #322F30;
  border-radius: 20px;
  border: none;
}

.track button:hover {
  color: #CCC7C4;
  background-color: #EC2B06;
}
*/