.track {
  padding: 20px;
  border-bottom: 2px solid #151515;
}

.song-title {
  color: #ffffff;
  font-size: 25px;
}

.song-artist {
  color: #666666;
  font-size: 20px;
}

.playlist-header {
  border-bottom: 5px solid #404040;
  padding: 10px;
  position: fixed;
  top: 65px;
  width: 100vw;
  background-color: #373737;
}

.playlist-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playlist {
  margin-top: 170px;
  padding: 0 3px;
}

.playlist-header h2 {
  color: #63B700;
  padding-left: 10px;
}

#select-all {
  display: inline-block;
}

.playlist-header-bottom,
.track {
  display: grid;
  align-items: center;
  grid-template-columns: 30px auto;

}

.select-all-box {
  padding-left: 10px;
}

.selected {
  background-color: #151515;
  box-shadow: 0 0 5px #63B700;
}
