.playlist,
.track {
  display: grid;
  grid-template-columns: 1fr 1fr 50px 110px;
}

.playlist {
  width: 90%;
  margin: auto;
  text-align: center;
}

.track {
  grid-column: 1 / span 4;
  border-bottom: 1px solid #CCC7C4;
  text-align: left;
  align-items: center;
}

.track h4 {
  padding: 20px;
  margin: 0;
}

.track p {
  text-align: center;
}

.track button {
  height: 1.5em;
  background-color: #FDAB02;
  color: #322F30;
  border-radius: 20px;
  border: none;
}

.track button:hover {
  color: #CCC7C4;
  background-color: #EC2B06;
}
