/* Colors
Dark Green = #63B700
Light Green = #8ECF32
Light Gray = #999999
Medium Gray = #404040
Dark Gray = #373737



*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #373737;
}

h1, h3 {
  color: #63B700;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: #999999;
  margin: 0;
}

.error {
  text-align: center;
  color: black;
  background-color: red;
  border: 2px solid red;
  padding: 5px;
}