/* Colors
Dark Green = #4E9AF5
Light Gray = #999999
Medium Gray = #404040
Dark Gray = #262626
*/

* {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #262626;
}

main {
  margin-top: 80px;
}

.App {
  max-width: 700px;
  margin: auto;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h4 {
  color: #262626;
}

a {
  text-decoration: none;
}

p {
  color: #999999;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.error {
  text-align: center;
  color: black;
  background-color: #FF4A19;
}

@media (min-width: 351px) {
  .playlist {
    margin-top: 195px;
  }
}

@media (min-width: 500px) {
  .Home {
    height: 50vh;
    margin-top: 200px;
  }

  .intro {
    max-width: 650px;
  }

  .SelectSpm {
    max-width: 550px;
  }

  .SelectGenre {
    max-width: 550px;
    margin: 30px auto;
  }

  .button-wrapper {
    max-width: 550px;
    margin: auto;
  }

  .bottom-half-wrapper {
    display: flex;
    justify-content: space-around;
  }

  .new-spm-button {
    margin: 70px auto;
  }
}

@media (min-width: 553px) {
  .playlist {
    margin-top: 170px;
  }
}

@media (min-width: 700px) {
  header,
  .playlist-header {
    width: 700px;
  }

}