.SavedPlaylistContainer button {
  display: block;
  margin: 10px;
}

.SavedPlaylistContainer .new-playlist {
  margin: 10px auto;
}

.no-playlists {
  color: #63B700;
  text-align: center;
  margin: 20px;
}