.Calculations {
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1290px;
  font-size: .8em;
}

.Calculations article {
  width: 30%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.manual,
.estimate {
  padding: 20px;
  border: 2px solid black;
}

.divider {
  width: 2px;
  margin: 10px 0;
  background: gray;
}

.manual p {
  margin: 0;
}

.manual ol {
  counter-reset: list;
  padding: 20px;
  margin: 0;
}

.manual ol > li {
  list-style: none;
}

.manual ol > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

.manual ol li {
  margin: 10px 0;
}

.manual-input {
  text-align: center;
  display: block;
  font-size: 1.5em;
  padding: 10px;
  width: 90px;
  border-radius: 15px;
  margin: auto;
}

.manual-button {
  display: block;
  margin: 30px auto;
}

.estimate {
  text-align: center;
}

.estimate input {
  width: 40px;
  text-align: center;
  margin: 10px 0;
}

.estimate p {
  margin: 0;
}

.estimate .height {
  margin: 20px 0 10px 0;
}

.speeds {
  display: flex;
  justify-content: space-around;
}

.Calculations .result {
  width: 15%;
  text-align: center;
  padding-top: 150px;
}



