.Calculations {
  font-size: .8em;
  width: 60%;
  margin: 20px auto;
}

.Calculations article {
  padding: 20px;
  background-color: #CCC7C4;
  border-radius: 0 0 20px 20px;
}

.Calculations > button {
  width: 50%;
  border-radius: 20px 20px 0 0;
  border: none;
  background-color: #AAA5A2;
  color: #322F30;
}

.Calculations > button.focused {
  background-color: #CCC7C4;
  color: #322F30;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.divider {
  width: 2px;
  margin: 10px 0;
  background: gray;
}

.manual p {
  margin: 0;
}

.manual ol {
  counter-reset: list;
  padding: 20px;
  margin: 0;
}

.manual ol > li {
  list-style: none;
}

.manual ol > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

.manual ol li {
  margin: 10px 0;
}

.manual-input,
.estimate input {
  text-align: center;
  display: block;
  font-size: 1.5em;
  padding: 10px;
  width: 90px;
  border-radius: 15px;
  margin: auto;
}

.estimate input {
  display: inline-block;
}

.manual-button,
.estimate button {
  display: block;
  margin: 30px auto;
  height: 1.5em;
  background-color: #FDAB02;
  color: #322F30;
  border-radius: 20px;
  border: none;
}

.estimate {
  text-align: center;
}

.estimate p {
  margin: 0;
}

.estimate .height {
  margin: 20px 0 10px 0;
}

.speeds {
  display: flex;
  justify-content: space-around;
}

.speeds form {
  width: 48%;
}

.Calculations .result {
  width: 80%;
  text-align: center;
  margin: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}



