.Home {
  padding: 20px;
  text-align: center;
}

.Home a {
  display: inline-block;
  margin: 20px;
}

.intro {
  text-align: center;
  display: block;
  width: 750px;
  margin: auto;
}

.log-in {
  text-decoration: underline;
  cursor: pointer;
}

.dashboard {
  display: flex;
  justify-content: space-around;
}

.dashboard a {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.dashNav {
  background-color: #ddd;
}