/*.Home {
  background-color: #CCC7C4;
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.Home a {
  display: inline-block;
  margin: 20px;
}

.intro {
  text-align: center;
  display: block;
  width: 750px;
  margin: auto;
}

.log-in,
.begin {
  color: #322F30;
  display: inline-block;
  width: fit-content;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #FDAB02;
}

.log-in {
}

.begin {
  text-decoration: none;
}

.dashboard {
  display: flex;
  justify-content: space-around;
}

.dashboard a {
  background-color: #FDAB02;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #322F30;
}

a.dashNav {
  background-color: #EC2B06;
  color: #CCC7C4;
}*/