.saved-playlist {
  display: grid;
  grid-template-columns: auto 100px 65px;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #151515;
}

.playlist-name {
  color: #ffffff;
  font-weight: normal;
  display: inline-block;
}

.playlist-details {
  color: #555555;
}

.delete {
  width: 47px;
  border-radius: 100%;
  color: red;
  border-color: red;
}

.delete {
  width: 47px;
  border-radius: 100%;
  color: #FF4A19;
  border-color: #FF4A19;
}

.delete:hover {
  color: #FF6C3B;
  border-color: #FF6C3B;
}

.delete:active {
  color: #DD4907;
  border-color: #DD4907
}