.Home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 65vh;
  margin-top: 33%;
}

.Home * {
  text-align: center;
}

.title {
  font-size: 40px;
  color: #4E9AF5;
}

.small-words {
  font-size: 25px;
}

.intro {
  display: inline-block;
  border: 5px solid #404040;
  padding: 5% 7%;
  width: 90%;
  margin: auto;
}

strong,
.app-name,
.log-in {
  color: #4E9AF5;
}

.app-name {
  font-weight: bold;
}

strong {
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

button.log-in {
  font-weight: bold;
  border: 3px solid #4E9AF5;
  background-color: transparent;
  padding: 20px;
  display: inline-block;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
}