header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-around;
}

.home-button,
.page-name,
.menu-wrapper {
  padding: 10px;
  border-bottom: 5px solid #404040;
}

.home-button:hover,
.profile-pic:hover {
  cursor: pointer;
}

.home-button,
.page-name {
  color: #63B700;
  font-size: 30px;
}

.page-name {
  margin: 0;
}

.home-button{
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0;
  background-color: transparent;
}

.profile-pic {
  display: block;
  margin: auto;
  height: 40px;
  border-radius: 100%;
}

.menu-wrapper {
  position: relative;
}

.menu {
  position: absolute;
  right: 40%;
  top: 60px;
  width: 82px;
}

.log-out {
  padding: 10px;
  background-color: #999999;
  color: #404040;
  text-decoration: underline;
}

.log-out:hover {
  background-color: #BBBBBB;
  color: #626262;
  cursor: pointer;
}