/*header {
  padding: 10px;
  border-bottom: 2px solid #8ECF32;
}

.title {
  text-align: center;
  font-size: 35px;
}

.greeting {
  color: #63B700;
  text-align: center;
}

.log-out {
  text-align: right;
  text-decoration: underline;
}

header {
  padding: 30px;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
}

header a:visited {
  color: inherit;
}

header h1 {
  color: #FDAB02;
  margin: 0;
}

header img {
  height: 40px;
  margin-top: 10px;
}

header p {
  margin: 0;
  text-align: right;
}

header .log-out {
  font-size: .7em;
  text-decoration: underline;
}*/